* {
    scrollbar-width: thin;
    scrollbar-color: grey white;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: 3px solid white;
  }

.dashboard {
    height: 99vh;
    background-color: rgb(238, 237, 237);
    transition: ease-in-out 0.5s;
    display: grid;
    grid-template-columns: 15rem 80rem;

    
    #menu {
        width: 15rem;
        height: 98.7vh;
        background-color: white;

        .logo {
            height: 3rem;
            width: 5rem;
            margin-top: 1rem;
        }

        .mint {
            font-family: Rocher;
        }

        .dashTitle {
            font-family: Rocher;
            margin-top: 0rem;
            font-size: 1.3rem;
            color: grey;
            letter-spacing: 0.2rem;
        }

        .items {
            display: grid;
            grid-template-columns: auto;
            grid-gap: 0.5rem;
            height: 83%;
            overflow: scroll;
            padding: 0.5rem 0.1rem 0.5rem 0.1rem;
            
            .box {
                display: flex;
                margin-left: 0.5em;
                background-color: rgb(238, 237, 237);
                cursor: pointer;

                .songImg {
                    height: 3rem;
                    width: 4rem;
                    margin-top: 0.5rem;
                    padding-right: 0.5rem;
                    border-radius: 0.5rem;
                }

                .span {
                    text-align: center;
                }
            }
        }
    }

    .menuIcon {
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 3vh;
        left: 4vw;
        color: black;
        display: none;
    }

    #bar {
        width: 80rem;

        .searchBar {
            height: 4rem;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;

            .srchBar {
                display: flex;
                border: 1px solid grey;
                border-radius: 1rem;

                .srchIcon {
                    height: 1.3rem;
                    width: 1.3rem;
                    margin-top: 0.6em;
                    margin-right: 0.5rem;
                    margin-left: 0.5rem;
                }
            }

            .srch {
                height: 2.5rem;
                width: 60rem;
                border-radius: 1rem;
                border: none;
            }

            .homeIcon, .dashIcon, .notIcon, .userIcon {
                height: 1.7rem;
                width: 1.7rem;
                margin-left: 2rem;
                cursor: pointer;
            }
        }
    }
}

// @media screen and (max-width: 1000px) {
//     .dashboard {
//         #menu {
//             width: 0rem;
//             display: none;
//         }
//         .menuIcon {
//             display: block;
//         }
//     }
// }

