.graph {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.graph .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  margin: 0.5rem 2rem 0.5rem 2rem;
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
}

.graph .name .img {
  height: 3rem;
  width: 4rem;
  border-radius: 0.5rem;
}

.graph .name .title,
.graph .name .img {
  margin: 1rem 0rem 1rem 2rem;
}

.graph .name .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.graph .twoBox {
  margin-left: 4rem;
  margin-right: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 28%;
      grid-template-columns: 70% 28%;
  grid-gap: 2%;
}

.graph .twoBox .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: white;
  height: 18rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.5rem;
  padding: 1rem;
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
}

.graph .twoBox .two {
  border-radius: 1.5rem;
  padding: 1rem;
}

.graph .twoBox .two .box {
  border-radius: 2rem;
  background: #fff;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.graph .twoBox .two .box .percent {
  width: 150px;
  height: 150px;
  position: relative;
}

.graph .twoBox .two .box .percent svg {
  width: 150px;
  height: 150px;
  position: relative;
}

.graph .twoBox .two .box .percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}

.graph .twoBox .two .box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.graph .twoBox .two .box .percent svg circle:nth-child(2) {
  stroke: #03a9f4;
}

.graph .twoBox .two .box .percent .num {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  color: #111;
}

.graph .twoBox .two .box .percent .num h2 {
  font-size: 48px;
}

.graph .twoBox .two .box .percent .num h2 span {
  font-size: 24px;
}

.graph .twoBox .two .box .text {
  padding: 10px 0 0;
  color: #999;
  font-weight: 700;
  letter-spacing: 1px;
}

.graph .threeBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 1rem;
  margin-left: 4rem;
  margin-top: 1rem;
}

.graph .threeBox .dashTitle {
  font-family: Rocher;
  font-size: 1.3rem;
  color: grey;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.graph .threeBox .ones {
  background-color: white;
  height: 13rem;
  width: 20rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
}

.graph .threeBox .ones .txt {
  margin-top: 2rem;
  text-align: center;
  background-color: #58f858;
  color: black;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
  width: 5rem;
  height: 1rem;
}

.graph .threeBox .twos {
  background-color: white;
  height: 13rem;
  width: 20rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
}

.graph .threeBox .twos .txt {
  margin-top: 2rem;
  text-align: center;
  background-color: yellow;
  color: black;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
  width: 5rem;
  height: 1rem;
}

.graph .threeBox .threes {
  background-color: white;
  height: 13rem;
  width: 20rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
}

.graph .threeBox .threes .txt {
  margin-top: 2rem;
  text-align: center;
  background-color: #03a9f4;
  color: black;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
  width: 5rem;
  height: 1rem;
}
/*# sourceMappingURL=Graph.css.map */